@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: #000;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

.mesa {
  height: 100vh;
  position: relative;
  margin: 5px;
  padding: 10px;
  background: linear-gradient(160deg, rgb(170, 151, 129) 10%, rgb(119, 70, 40) 100%) no-repeat center;
}

.set {
  /*position: relative;*/
  /*margin: 10px;*/
  /*background: #fff center;*/
  /*display: flex;*/
  /*flex-direction: column;*/
}
.players {
  position: relative;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#new-game {
  position: absolute;
  margin-top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.player1, .player2 {
  height: 97vh;
  padding-top: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.player1 {
  background: green;
}
.player2 {
  background: orange;
}

#throw, #send {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
#throw{
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: row;
}
#send {
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: row;

}
.text {
  padding-left: 10px;
}
